<div class="samples-screen-title">
    <p class="samples-screen-title-text">ng2-dynamic-dialog examples</p>
</div>
<div class="samples-screen-frame">
    <p class="samples-screen-title">Select a sample to view</p>

    <div class="samples-screen-button-frame">
        <button class="samples-screen-button" disabled>Default with basic HTML content</button><br><br>
        <button class="samples-screen-button" disabled>Custom style with HTML content</button><br><br>
        <button class="samples-screen-button" (click)="requested_component_dialog()">Custom style with component injection</button>
    </div>
</div>

<custom-component-dialog></custom-component-dialog>
