
/* Simple background properties */
.ng2-dynamic-dialog-background {

    position: fixed;

    left: 0;
    right: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: #000000;
    opacity: 0.4;
}
