<div class="samples-screen-title">
    <p class="samples-screen-title-text">ng2-dynamic-dialog samples</p><br>
    <p class="samples-screen-body-text">All small set of example dialogs using ng2-dynamic-dialog to provide vary levels of complex dialogs and personal styles</p>
</div>
<div class="samples-screen-frame">
    <p class="samples-screen-title">Select a sample to view</p>

    <div class="samples-screen-button-frame">
        <button class="samples-screen-button" (click)="requested_default_dialog()">Default with basic HTML content</button><br><br>
        <button class="samples-screen-button" (click)="requested_styled_dialog()">Custom style with HTML content</button><br><br>
        <button class="samples-screen-button" (click)="requested_component_dialog()">Custom style with component injection</button><br><br>
        <button class="samples-screen-button" (click)="requested_lockable_dialog()">Using a locked dialog</button>
    </div>
</div>

<default-with-html-dialog></default-with-html-dialog>
<styled-with-html-dialog></styled-with-html-dialog>
<custom-component-dialog></custom-component-dialog>
<locked-component-dialog></locked-component-dialog>

